<%- include("../partials/header") %>

    <div class="row">
        <div class="col-md-3">
            <p class="lead">Tennis4Life</p>
            <div class="list-group">
                <li class="list-group-item active"><%=club.name%></li>
                <li class="list-group-item">Location</li>
                <li class="list-group-item"><%= club.location %></li>
            </div>
            <div id="floating-panel">
             <input id="address" type="textbox" value=<%= club.location %>>
             <input id="submit" type="button" value="Locate">
    		</div>
            <div id="map"></div>
        </div>
        <div class="col-md-9">
            <div class="thumbnail">
                <img class="img-responsive" src="<%= club.image %>">
                <div class="caption-full">
                    <h4><a><%=club.name%></a></h4>
                    <p><%= club.description %></p>
                    <p>
                        <em>Submitted By <%= club.author.username %></em>
                    </p>
                    <% if(currentUser && club.author.id.equals(currentUser._id)){ %>
                        <a class="btn btn-xs btn-warning" href="/clubs/<%= club._id %>/edit">Edit</a>
                        <form id="delete-form" action="/clubs/<%= club._id %>?_method=DELETE" method="POST">
                            <button class="btn btn-xs btn-danger">Delete</button>
                        </form>
                    <% }%>
                    
                </div>
            </div>
            <div class="well">
                <div class="text-right">
                    <a class="btn btn-success" href="/clubs/<%= club._id %>/comments/new">Add New Comment</a>
                </div>
                <hr>
                <% club.comments.forEach(function(comment){ %>
                    <div class="row">
                        <div class="col-md-12">
                            <strong><%= comment.author.username %></strong>
                            <span class="pull-right">10 days ago</span>
                            <p>
                                <%= comment.text %> 
                            </p>
                         <% if(currentUser && comment.author.id.equals(currentUser._id)){ %>
                            <a class="btn btn-xs btn-warning" 
                               href="/clubs/<%=club._id %>/comments/<%=comment._id %>/edit">Edit</a>
                            <form id="delete-form" action="/clubs/<%=club._id %>/comments/<%=comment._id %>?_method=DELETE" method="POST">
                                <input type="submit" class="btn btn-xs btn-danger" value="Delete">
                            </form>
                        <% } %>
                        </div>
                    </div>
                <% }) %>
            </div>
        </div>
    </div>

<script>
      function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 8,
          center: {lat: -34.397, lng: 150.644}
        });
        var geocoder = new google.maps.Geocoder();

        document.getElementById('submit').addEventListener('click', function() {
          geocodeAddress(geocoder, map);
        });
      }

      function geocodeAddress(geocoder, resultsMap) {
        var address = document.getElementById('address').value;
        geocoder.geocode({'address': address}, function(results, status) {
          if (status === 'OK') {
            resultsMap.setCenter(results[0].geometry.location);
            var marker = new google.maps.Marker({
              map: resultsMap,
              position: results[0].geometry.location
            });
          } else {
            alert('Geocode was not successful for the following reason: ' + status);
          }
        });
      }
    </script>
      <script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDdPTB6x_LSPZdKb4q5XcYeQ-faruPro8Y&callback=initMap">
</script>

<%- include("../partials/footer") %>